@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  color: white;
}

.slide-in {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
}

.slide-out {
  transition: margin-left 0.3s ease-in-out;
  margin-left: -100%;
}