@tailwind base;
@tailwind components;
@tailwind utilities;


.slide-in {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
}

.slide-out {
  transition: margin-left 0.3s ease-in-out;
  margin-left: -100%;
}

:root {
  --primary-color: #ff013d;
  --primary-color-rgb: 255, 1, 61;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

/* Ipad Pro */
@media only screen and (min-width:1024px) and (max-width:1366px) {
  body {
    padding-left: 2rem /* 144px */;
    padding-right: 2rem /* 144px */;
  }
  .wipe-in-left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: auto;
  }

@media (min-width: 1024px) {
    *::-webkit-scrollbar {
      width: 12px;
    }
  
    *::-webkit-scrollbar-track {
      background: none;
    }
  
    *::-webkit-scrollbar-thumb {
      background-color: #404040;
      border-radius: 20px;
      border: none;
    }
  }
}

/* Nest Hub*/

@media (min-width: 1025px) {
  body {
    padding-left: 10rem /* 144px */;
    padding-right: 10rem /* 144px */;
  }
}

@media only screen and (min-width: 1280px) {
  body {
    min-width: 1200px;
  }

  .wipe-in-left-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    overflow: auto;
  }

  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #404040;
    border-radius: 20px;
    border: none;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    min-width: 1320px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  border-radius: 5px !important;
  margin: 0 6px !important;
}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-wrapper {
  height: max-content !important;
  width: max-content !important;
  padding-bottom: 64px;
}

.swiper-pagination-bullet-active {
  background: #4f46e5 !important;
}

.swiper-slide.swiper-slide-active > .slide_active\:border-indigo-600 {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.swiper-slide.swiper-slide-active > .group .slide_active\:text-gray-800 {
  ---tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

/* Page Transition */
/* WipeinLeft Animation */

@keyframes wipe-in-left {
  from {
    clip-path: inset(0 100% 0 0 );
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

/* .wipe-in-left-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
} */

.wipe-in-left-wrapper {
  position: relative;
  width: 100%;
  overflow: auto;
}

.wipe-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999; /* Ensures it is above other content */
  background-color: #ff013d; /* Blank screen color */
  animation: wipe-in-left 2.5s cubic-bezier(.25, 1, .30, 1) forwards; /* Adjust duration as needed */
}

.wipe-in-left-content {
  position: relative;
  z-index: 1; /* Ensure it is above the overlay */
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.wipe-in-left-content.hidden {
  opacity: 0; /* Hide content initially */
}

/* WipeInRightAnimation */

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.wipe-in-right-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.animation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999; /* Ensures it is above other content */
  background-color: #ff013d; /* Blank screen color */
  animation: wipe-in-right 2.5s cubic-bezier(.25, 1, .30, 1) forwards; /* Adjust duration as needed */
}

.wipe-in-right-content {
  position: relative;
  z-index: 1; /* Ensure it is above the overlay */
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.wipe-in-right-content.hidden {
  opacity: 0; /* Hide content initially */
}


/* Scrolling change layout */
